<div data-role="grid"
     data-columns="[
            { 'field': 'Name', 'width': 270 },
            { 'field': 'UnitPrice' },
     ]"
     data-bind="source: products"
     style="height: 200px"></div>