<header>
    <div class="k-appbar k-appbar-static k-appbar-light">
        <div class="k-appbar-section">
            <h3 data-bind="text:name"></h3>
        </div>
        <span class="k-appbar-spacer k-appbar-spacer-sized" style="width: 16px;"></span>
    </div>
</header>
<div class="body">
    <nav>
        <ul>
            <li><a href="#/">Home</a></li>
            <li><a href="#/products">Products</a></li>
        </ul>
    </nav>
    <div id="router-outlet"></div>
</div>
